dependencies/TooN/build/
dependencies/TooN/html/
dependencies/gvars3/build/
dependencies/gvars3/include/
dependencies/gvars3/installfiles/config.status
dependencies/gvars3/lib/
dependencies/libcvd/bin/
dependencies/libcvd/build/
dependencies/libcvd/include/
dependencies/libcvd/lib/
ptam/.cproject
ptam/.project
ptam/bin/
ptam/build/
ptam/cfg/PTAMVisualizerParams.cfgc
ptam/cfg/PtamParams.cfgc
ptam/cfg/cpp/
ptam/docs/
ptam/src/ptam/cfg/PTAMVisualizerParamsConfig.py
ptam/src/ptam/cfg/PtamParamsConfig.py
ptam_com/build/
ptam_com/msg_gen/
ptam_com/src/
ptam_com/srv_gen/
ptam/thirdparty/agast/lib/
ptam/thirdparty/gvars3/git_checkedout
ptam/thirdparty/gvars3/sources/
ptam/thirdparty/libcvd/git_checkedout
ptam/thirdparty/libcvd/sources/

/build
/Debug
*~
